<template>
    <div class="columns">
        <div class="column" v-if="isLoading">Loading blog posts...</div>
        <div class="column" v-else>
           
            <v-data-table
                :headers="headers"
                :items="posts"
                :items-per-page="5"
                class="elevation-2"
            >
           
            <template v-slot:item.action="{ item }">
                <v-icon
                    small
                    v-bind:class="{ 'is-loading' : isCountUpdating(item.id) }"
                    @click="like(item.id, true)"
                >mdi-thumb-up</v-icon>
                <v-icon
                    v-bind:class="{ 'is-loading' : isDeleting(item.id) }" 
                    @click="deletePost(item.id)"
                >mdi-delete</v-icon>
            </template>
            </v-data-table>

            <post-form @completed="addPost"></post-form>
        </div>
    </div>
</template>


<script>

import axios from 'axios'
import { API_BASE_URL } from '../config'
import Vue from 'vue'
import PostForm from "./PostForm";


export default {
    components: {
        PostForm
    },
    data () { 
      return {
        isLoading: true,
        posts: {},
        headers: [
            { text: 'ID', value: 'id' },
            { text: 'Name', value: 'name' },
            { text: 'Posts', value: 'post' },
            { text: 'Likes', value: 'likes' },
            { text: 'Actions', value: 'action', sortable: false },
        ]
      }
    },
    async created () {
        //this.getQuestion()
        axios.defaults.headers.common['Authorization'] = `Bearer ${await this.$auth.getAccessToken()}`
        try {
            const response = await axios.get(API_BASE_URL + '/post')
            this.posts = response.data.data
            this.isLoading = false
        } catch (e) {
            // handle the authentication error here
        }
    },
    methods: {
        addPost(post) {
            this.posts.push(post)
        },
        isDeleting(id) {
            let index = this.posts.findIndex(post => post.id === id)
            return this.posts[index].isDeleting
        },
        async deletePost(id) {
            let index = this.posts.findIndex(post => post.id === id)
            Vue.set(this.posts[index], 'isDeleting', true)
            const response = await axios.delete(API_BASE_URL + '/post/' + id)
            this.posts.splice(index, 1)
        },
        isCountUpdating(id) {
            let index = this.posts.findIndex(post => post.id === id)
            return this.posts[index].isCountUpdating
        },
        async like(id, isCorrectAnswer) {
            let data = {
                correct: isCorrectAnswer
            }
            let index = this.posts.findIndex(post => post.id === id)
            Vue.set(this.posts[index], 'isCountUpdating', true)
            const response = await axios.post(API_BASE_URL + '/post/' + id + '/likes', data)
            this.posts[index].likes = response.data.data.likes
            this.posts[index].isCountUpdating = false
        }
    }
}
</script>