<template>
    <form @submit.prevent="onSubmit">
        <span class="help is-danger" v-text="errors"></span>
        <div class="field">
            <div class="control">
                <input class="input" type="post" placeholder="enter post..." v-model="post" @keydown="errors = ''">
            </div>
        </div>
        <button class="button is-primary" v-bind:class="{ 'is-loading' : isLoading }">Create Post</button>
    </form>
</template>

<script>
import axios from 'axios'
import { API_BASE_URL } from '../config'

export default {
    data() {
        return {
            name: localStorage.username,
            post: '',
            errors: '',
            isLoading: false,
        }
    },
    created () {
        this.setup()
    },
    watch: {
        // Everytime the route changes, check for auth status
        '$route': 'isAuthenticated'
    },
    methods: {
        async setup () {
            this.claims = await this.$auth.getUser()
        },
        async isAuthenticated () {
            this.authenticated = await this.$auth.isAuthenticated()
        },
        onSubmit() {
            this.isLoading = true
            this.addPost()
            // eslint-disable-next-line no-console
        },
        async addPost() {

            axios.defaults.headers.common['Authorization'] = `Bearer ${await this.$auth.getAccessToken()}`
            axios.post(`${API_BASE_URL}/post`, this.$data)
                .then(response => {
                    this.post = ''
                    this.claims = ''
                    this.isLoading = false
                    this.$emit('completed', response.data.data)
                })
                .catch(error => {
                    // handle authentication and validation errors here
                    this.errors = error.response.data.errors
                    this.isLoading = false
                })
        }
    }
}
</script>